
.navbar ul li {
   display: inline-block;
   
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 20px 15px;
}



/*-------------------------------------------Navbar Dropdown */

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #00b6be;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}


