/*----------------------------------------------Logo*/

/* Remove the logo's default margin-bottom and rounded borders */
.header {
    margin-bottom: 0;
    border-radius: 0;
}

.header {
    min-height: 200px;
    background-color: #00b6be;
    background-image: url(../images/PBP-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
}

/*----------------------------------------------Navbar*/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Center align dropdown menu items */
.navbar-inverse ul {
   list-style: none;
   text-align: center;
}

/* Center align navbar menu */
#navHeaderCollapse {
    margin: auto;
    width: 330px;
}

/* Center align hamburger icon */
#hamburger {
    margin: auto;
    width: 75px;
}





/* ---------------------------------------------Typography*/
a {
    color: #ffffff;
    text-decoration: none;
}

.testimonial-signature {
    color: #00b6be;
    font-family: serif;
    font-size: 18px;
    font-style: italic;
}

.category-heading {
    font-size: 30px;
    font-weight: bold;
    color: #00b6be;
    font-family: serif;
    font-style: italic;
}


/* -------------------------------------------- Wanna Book Sticky */
.wannabook-text {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}

.sticky-background {
    background-color: #00b6be;
    margin-top: 30px;
}


/* ------------------------------------------------ Footer Block */
.footer-block {
    background-color: #222222;
    min-height: 250px;
    padding-top: 10px;
    color: #ffffff;
}


/* Grow ------http://ianlunn.github.io/Hover/#effects------------*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/*-------------------- Contact from Rosie Odenkirk CV project*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #00b6be;
    color: #fafafa;
}


/*----------------------------------------------Media Queries*/

@media(max-width: 768px) {
    .logo {
        min-height: 150px;
    }
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 70%;
    }
    .contact-column {
        padding: 0 30px 30px;
        float: none;
        display: table-cell;
    }
}